body{
    margin: auto;
    width: 77%;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.096);
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
    font-size: 90%;
    letter-spacing:0.1em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
/*NavBar*/
nav {
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1d;
    height: 135px;
}
.menu {
    display: flex;
    padding-top: 10px;
    padding-right: 15px;
}
.menu>div {
    margin: 10px;
    text-align: center;
}
.menu>div>a>p{
    color: white;
}
/*Logo Youcommunik*/
.logo>img {
    margin-top: 45px;
    margin-left: 15px ;
}
/*****************/
.blocPackages{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #334d5c;
    margin: 0;
}
.packagesImg {
    padding: 40px 0px;
}
.packagesTxt {
    font-size: 30px;
    color: white;
    margin-top: 50px;
    margin-right: 150px;
}
.packagesTxt>h3{
    margin-top: 0;
}
.packagesTxt>h1{
    margin-top: 0;
    margin-bottom: 15px;
}
/*****Section Triple*****/
.Triple{
    height: 400px;
    
}
.title_triple {
    background-color: #334d5c;
    height: 80px;
    width: 300px;
    text-align: center;
    margin: auto;
}
.title_triple>h1{
    color: white;
    font-size: 50px;
    padding-top: 15px;
}
.contenuTriple{
    display: flex;
    justify-content: space-around;
}
.txtTriple {
    width: 50%;
    margin-top: 50px;
}
.contenuTriple>div>img {
    margin-top: 70px;
}
/**************/
/***** Div Icon Between Section ******/ 
.iconUn{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #eae3d6;
    height: 140px;
    text-align: center;
    padding-top: 40px;
}
.iconUn>div>img {
    width: 100px;
    height: 100px;
}
.iconDeux {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #eae3d6;
    height: 180px;
}
.iconDeux>div>img {
    width: 100px;
    height: 100px;
}
.withPB {
    padding-bottom: 40px;
    
}
/******************/
footer{
    background-color: #393a3b;
}
.blocFooter {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.iconFooter>p+ul>li img {
    width: 70px;
    height: 70px;
    margin: 10px;
}
.iconFooter>p {
    color: white;
    font-size: 20px;
    letter-spacing:0.1em;
    padding: 20px 10px;
}
ul {
    padding:0;
    margin:0;
    list-style-type:none;
}
li {
    margin-left:2px;
    float:left;
}

.copyRight {
    display: flex;
    flex-direction: row-reverse;
    color: white;
    font-size: 10px;
    padding: 20px 10px;
}
/****************/








/*CSS txt sous img*/
/*p>span*/
/*** 
df 
fd:col
origin-items: center
***/